@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        color: rgba(19, 19, 19, 0.60);
        background: #f6f7f9;
    }
}

.container {
    max-width: 1370px;
    padding: 0 24px;
    margin: 0 auto;
}

.title {
    font-family: 'Plus Jakarta Sans';
    font-size: 32px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.96px;
    color: #3563E9;
}

.embla {
    --slide-spacing: 1rem;
    --slide-size: 100%;
    --slide-height: 21rem;
}
.embla__viewport {
    overflow: hidden;
}
.embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.embla__slide__img {
    display: block;
    height: var(--slide-height);
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.embla-thumbs {
    --thumbs-slide-spacing: 1rem;
    --thumbs-slide-height: 8rem;
    margin-top: var(--thumbs-slide-spacing);
}
.embla-thumbs__viewport {
    overflow: hidden;
}
.embla-thumbs__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: calc(var(--thumbs-slide-spacing) * -1);
}
.embla-thumbs__slide {
    width: 100%;
    min-width: 0;
    padding-left: var(--thumbs-slide-spacing);
    position: relative;
}

.embla-thumbs__slide__button {
    -webkit-appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: block;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid transparent;
    transition: border .5s ease-in-out;
}
.embla-thumbs__slide--selected .embla-thumbs__slide__button {
    border: 2px solid #3563E9;
}
.embla-thumbs__slide__img {
    display: block;
    height: var(--thumbs-slide-height);
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}